h2 {
    font-size: 100px ;
    font-family: "Roboto",sans-serif;
}

#padre
{
    flex: 1 0  300px;
}

.icon{
    height: 2rem;
    width: 2rem;
}
#head{
  display: flex;
  gap: 1rem;
  color: black;
}
#temas{
  color: gray;
}

.btn{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btnl{
  border-radius: 0.5rem 0.5rem;
  border: 1;
  height: 2rem;
  width: 6rem;
  font-size: 1rem;
  color: gray;
  border-color: gray;
  background-color: white;
}
#login{
  background-color: white;
  color: gray;
  border: 0;
}

h3{
  text-align: center;
  font-size:35px;
  font-family: 'Gill Sans';
}
h4{
  text-align: center;
}

#temas{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#padre{
  display: flex;
}


#footer{
  display: flex;
  align-items: center;

}



#more{
  background-color: rgb(51, 51, 51);
  border-radius: 0.3rem 0.3rem;
  border: 0;
  color: white;
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
}